/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.simple_form {
  background: #D0D2D9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.simple_form label {   
  float: left;   
  width: 250px;   
  text-align: right;   
  padding-right: 20px;
}   
.simple_form h2 {
  color: blue;
  padding-left: 20px;
}
   
.simple_form div.input {   
  margin-bottom: 42px;   
}   
   
.simple_form div.boolean, .simple_form input[type='submit'] {   
  margin-left: 120px;   
  margin-top: 80px;
}   
   
.simple_form div.boolean label {   
  float: none;   
  margin: 0;   
}   
#pagina {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(48,84,149);
  width: 980px;
}
#pagina title {
  background-color: rgb(48,84,149);
}
