/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html {
  height: 100%;
}
.simple_form {
  background: #D0D2D9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
  margin-top: 2%;
  padding-top: 5%;
}
#pagina #error-explanation {
  text-align: bottom;
}
.simple_form .error {
  float: left;
  padding-bottom: 2%;
}
.simple_form label {   
  float: left;   
  text-align: right;   
  padding-right: 5%;
  display: block;
}   
.simple_form #mis label {
  width: 250px;
}
.simple_form h2 {
  color: blue;
  padding-left: 20px;
}
.simple_form h1 {
  color: rgb(48,84,149);
  padding-left: 3%;
  padding-bottom: 3%;
}
.simple_form table {
  display: block;
  float: left;
  padding-left: 10%;
  border-spacing: 5%;
  width: 80%;
}
.simple_form table, td, th {
  border: 0.5% solid;
  padding: 1%;
  border-spacing :3%;
}
.simple_form div.butoane_index {
  float: right;
  height: 2%;
  padding-right: 10%;
}
   
.simple_form div.input {   
  margin-bottom: 5%;   
}   
   
.simple_form div.boolean, .simple_form input[type='submit'] {   
  margin-left: 30%;   
  margin-top: 8%;
  margin-bottom: 5%;
}   
   
.simple_form div.boolean label {   
  float: none;   
  margin: 0;   
}   
#pagina {
  margin-left: auto;
  height: 100%;
  margin-right: auto;
  background-color: rgb(48,84,149);
  width: 80%;
}
#pagina a{
  padding-left: 35%;
}

.simple_form.vizitum {
  margin-left: auto;
  margin-right: auto;
  background-color: #D0D2D9;
  width: 80%;
}
.simple_form.vizitum label {
  padding-left: 5%;
  text-align: right;
  float: left;
  width: 20%;
}
.simple_form.pacient label {
  padding-left: 5%;
  float: left;
  width: 15%;
  line-height: 90%;
}
.simple_form.pacient div.field textarea#pacient_adresa {
  width: 40%;
  margin-left: 25%;
}
#pagina title {
  background-color: rgb(48,84,149);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 30px;*/
}
.simple_form #cauta {
  padding-left: 5%;
  float: left;
}
