.container  {
  margin-top: 0px;
  margin-left: 0px;
  color: blue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #D0D2D9;
}
.container hr {
  height: 10px;
  color: red;
  background: red;
}
.container #first {
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 980px;
  color: rgb(48,84,149);
}
