<!DOCTYPE html>
<html>
<head>
  <title>Docbic9</title>
  <%= stylesheet_link_tag    "application" %>
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
    <h1 align="center"> DOCBIC 9 </h1>
    </header>
  </div>
<%= yield %>

</body>
</html>
